body {
    width: 100%;
    background-color: #90C67C;
    color: #E1EEBC;
    font-family: 'Tahoma' , sans-serif;
    font-size: 15px;
    margin: auto;
}

header {
    color: #E1EEBC;
    text-align: center;
}

nav {
  overflow: hidden;
  background-color: #328E6E;
}

nav a {
    float: left;
    display: block;
    color: #E1EEBC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
}

main {
    background-color: #67AE6E;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
    padding-top: 20px;
    color: #E1EEBC;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

input{
    border: 3px solid lightgrey;
    padding: 5px;
    margin: 5px;
    background-color: lightgrey;
    border-radius: 20px;
}