<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> | home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='Kaibosh.css') }}" rel="stylesheet">
</head>

<nav>
    <a href="/">Home</a>
    <a href="/input">Collections</a>
    <a href="/signup">Signup</a>
    <a href="/sort">Sorts</a>
    <a href="/output">Donations</a>
</nav>

{% block pageheading %}{% endblock %}

{% block main %}{% endblock %}



</html>