{% extends "base.html" %}
{% block pageheading %}Collections
As a volunteer, it is your job to input what you have collected here
so we can keep track of it.
{% endblock %}

{% block main %}
    <h2 style="text-align: center;">Collected Food Boxes</h2>

    <table>
        <thead>
            <tr>
                <th>Box ID</th>
                <th>Content</th>
                <th>Weight (kg)</th>
                <th>Donor</th>
            </tr>
        </thead>
        <tbody>
            {% for box in boxes %}
            <tr>
                <td>{{ box[3] }}</td>
                <td>{{ box[0] }}</td>
                <td>{{ box[1] }}</td>
                <td>{{ box[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br><br><br>
    {% if can_add %}
    <div class="kaibosh-container" style="margin: auto;">
        <form method="POST">
            <h2>Add New Box</h2>
            <input type="text" class="kaibosh-input" name="collected_box_contents" placeholder="Box Contents" required>
            <input type="number" step=".01" class="kaibosh-input" name="collected_box_weight" placeholder="Weight (kg)" required>
            <input type="text" class="kaibosh-input" name="donor" placeholder="Rescue location" required>
            <button type="submit" class="kaibosh-button">Add Box</button>
        </form>
    </div>
    <br>
    {% endif %}

{% endblock %}