{% extends "base.html" %}

<!--
  The header section defines the page heading block,
  displaying a welcome message on the home page.
-->
<header>
    {% block pageheading %}
    Welcome to Kaibosh home page.
    {% endblock %}
</header>

<!--
  The main section defines the main content block,
  briefly explaining the purpose of the Kaibosh website.
-->
<main>
    {% block main %}
        In this website, you can track the statistics of everything Kaibosh does.
        From rescuing outdated goods from supermarkets and riverside markets, to sorting them into boxes,
        to donating it to those in need.
        Kaibosh does it all, and you can track it here!
    {% endblock %}
</main>
