{% extends "base.html" %}

{% block pageheading %} Signup {% endblock %}

{% block main %}
    <form method="post">
        <div class="kaibosh-container">
            <input type="text" class="kaibosh-input" placeholder="First Name" name="volunteer_fname" required />
            <input type="text" class="kaibosh-input" placeholder="Last Name" name="volunteer_lname" required />
            <input type="email" class="kaibosh-input" placeholder="Email" name="volunteer_email" required />
            <input type="password" class="kaibosh-input" placeholder="Password must be 8 characters" name="volunteer_password" required />
            <input type="password" class="kaibosh-input" placeholder="Both Passwords must match" name="volunteer_password2" required />
            <input type = "password" name = "admin_code">
            <button class="kaibosh-button">Sign up</button>
        </div>
    </form>
    <br>
    <br>
    <p> Already have an account? <a href="/login"> Log In!</a></p>
{% endblock %}